@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("https://github.com/scrimba/learn-javascript/blob/main/1.%20Build%20a%20Passenger%20Counter%20App/2.%20Let's%20build%20a%20passenger%20counter%20app/station.jpg?raw=true");
    background-size: cover;
    text-align: center;
    font-family: 'Open sans';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 2.2rem;
    padding-bottom: 20px;
}

#count {
    font-size: 3rem;
    padding-bottom: 30px;
} 

.btn {
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    width: 250px;
    height: 30px;
}

.btn.increment {
    color: white;
    background-color: hsl(200, 100%, 40%);
    border: solid 1px hsl(200, 100%, 20%);
    margin-bottom: 8px;
}

.btn.save {
    color: white;
    background-color: hsl(145, 100%, 40%);
    border: solid 1px hsl(145, 100%, 20%);
}

.btn:hover {
    border: solid 1px black;
}